*.sh
node_modules
lib
docs
*.md
*.scss
*.woff
*.ttf
*.yaml
.vscode
.idea
.husky
.eslintrc.js
dist
mock
public
bin
build
config
index.html
src/assets

/build/
/config/
/dist/
/*.js
/test/unit/coverage/